body {
  font-family: sans-serif;
  padding: 20px;
  background: #f7f7f7;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 1.2em;
}

button {
  padding: 10px;
  font-size: 1em;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  color: green;
}
